.hero {
    margin-bottom: 0;
}

.testimonials__h3 {
    color: var(--color-primary);
}


.testimonials__main {
    margin-top: -3px;
    background: var(--color-primary);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.testimonials__main h2 {
    font-weight: bold;


}